.not-found-container {
    text-align: center;
    margin-top: 10%;
    padding: 100px;
  }
  
  
  
  h1 {
    font-size: 4rem;
    
  }
  
  p {
    color: gray;
    font-size: 1.2rem;
    
  }
  
  button {
    background-color: #f44336; /* red color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #d32f2f;
  }
  